.side-panel {
    position: absolute;
    top: 0;
    right: -400px;
    width: 350px;
    height: 91%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(152, 152, 152, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: right 0.3s ease;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.side-panel.open {
    right: 0;
}

.close-btn {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 2000;
    background-color: #242424;
    border: none;
    padding: 0.7rem 1.25rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.panel-content{
    overflow-y: scroll;
}

.panel-content::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
}

.panel-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 1rem;
}

.panel-content h2 {
    text-align: start;
    margin-top: .5rem;
    margin-left: 2rem;
}

.panel-content h1:not(:first-child){
    margin-top: 3rem;
}

.panel-content h1{
    text-align: start;
    font-size: 1.5rem;
    margin-left: 1rem;
}





/* Content */

.profile-info{
    margin-left: 1rem !important;
}

.profile-info h2{
    font-weight: 400;
    font-size: 1rem;
}

.nav-buttons{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    gap: 1rem;
}

.nav-buttons button svg{
    stroke: black;
    width: 1rem;
}

.nav-buttons button{
    width: 12.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #242424;
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.25s ease;
    color: #242424;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    &:hover{
        background-color: #242424;
        color: white;
        transition: background-color 0.3s ease;
        border: 1px solid #242424;
        svg{
            stroke: white;
        }
    }
}


.options{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 3rem;
    gap: .5rem;
}

.success{
    margin-left: 1rem !important;
}

.success h2{
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.success svg{
    stroke: rgb(46, 176, 96);
    width: 1rem;
    margin-right: .5rem;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: .75em;
    height: .75em;
    border: 0.1em solid currentColor;
    border-radius: 0.1em;
    transform: translateY(-0.075em);
}

input[type="checkbox"]:checked {
    background-color: #ccc;
    border-color: currentColor;
}
